.wd-flex-row-container {
    display: flex;
    flex-direction: row;
}

.wd-modules,
.wd-modules * {
    border-radius: 0%;
    border: none;
    margin: 0px;
    padding: 0px;
}

.wd-modules {
    margin: 5px;
}

.wd-modules>li {
    background-color: lightgray;
    border: 1px solid gray !important;
    border-left: none !important;
}

.wd-modules>li>div {
    padding: 6px;
    border-left: 1px solid gray !important;
}

.wd-modules>li>ul>li {
    padding: 5px;
    border-top: 1px solid gray !important;
    border-left: 2px solid green;
}

.wd-modules>li {
    margin-bottom: 20px;
}

.top-buttons * {
    border: 1px solid gray;
    border-radius: 3px;
    margin: 5px;
}
.top-buttons > button > *{
    border: none;
}

.indented {
    padding-left: 33px;
}
.indented-link {
    padding-left: 15px;
}

.publish-all-btn {
    background: #eeeeee;
}

.delete-btn {
    color: white;
    background-color: red;
    border-radius: 4px;
    padding: 1px;
}
.edit-btn {
    color: white;
    background-color: green;
    border-radius: 4px;
    padding: 1px;
}
.add-btn {
    color: white;
    background-color: green;
    border: none;
    border-radius: 4px;
    padding: 1px;
}
.update-btn {
    color: white;
    background-color: blue;
    border: none;
    border-radius: 4px;
    padding: 1px;
}