.breadcrumb {
    --bs-breadcrumb-divider: ">";
}

.text-overflow {
    white-space: nowrap; /* Prevent text from wrapping onto multiple lines */
    overflow: hidden; /* Hide any overflowing content */
    text-overflow: ellipsis; /* Display an ellipsis (...) to indicate truncated text */
    color: gray;
    font-size: 4mm;
    font-style: italic;
}

.wd-flex-row-container {
    display: flex;
    flex-direction: row;
}

.wd-flex-grow-1 {
    flex-grow: 1;
}

.top-buttons * {
    border: 1px solid gray;
    border-radius: 3px;
    margin: 5px;
}
.top-buttons > button > *{
    border: none;
}